<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd" >
<sqlMap namespace="User">
  <typeAlias type="com.cfysu.ssi.model.User" alias="user"/>
  <resultMap id="userResultMap" class="user" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
  </resultMap>

  <!-- 记录总数量 -->
  <select id="pageCount" resultClass="Integer" parameterClass="user">
    select count(*) from user
  </select>

  <!-- 分页获取用户列表 -->
  <select id="pageList" resultMap="userResultMap" parameterClass="user">
    select * from user limit #startRow#,#pageSize#
  </select>

  <!-- 根据id获得用户对象 -->
  <select id="selectByPrimaryKey" resultMap="userResultMap">
    select * from user where id=#value#
  </select>

  <!-- 新增用户对象 -->
  <insert id="insertUsers" parameterClass="user">
    insert into ibatis (id,name) values (#id#,#userName#)
  </insert>

  <!-- 删除用户对象 -->
  <delete id="deleteUsers">
    delete from ibatis where id=#value#
  </delete>

  <!-- 更新用户对象 -->
  <delete id="updateUsers" parameterClass="user">
    update ibatis set name=#userName# where id=#id#
  </delete>
</sqlMap>