<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>学习Vue</title>
</head>
<body>
1、声明式渲染</br>
    <div id="app1">
        {{message}}
    </div>
    <div id="app2">
        <span v-bind:title="message">
            hover在文字上查看效果
        </span>
    </div>
2、条件与循环
    <div id="app3">
        <p v-if="seen">
            if中的语句
        </p>
    </div>
    <div id="app4" >
        <ol>
            <li v-for="item in items">
                {{item.text}}
            </li>
        </ol>
    </div>
3、绑定事件
    <div id = 'app5'>
        <p>{{data}}</p>
        <input type="button" v-on:click="reverse" value="reverse">
    </div>
    <div id="app6">
        <p>{{data}}</p>
        <input type="text" v-model="data">
    </div>
4、自定义标签，作用类似与freemarker宏定义(组件)
    <div id = "app7">
        <ol>
            <!--使用自定义组件-->
            <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>
    <!--引用js-->
    <script type="text/javascript" src="../js/lib/vue.js"></script>
    <script type="text/javascript" src="../js/myVue.js"></script>
</body>
</html>