<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="/asset/js/lib/uploadify/uploadify.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/asset/js/lib/uploadify/huploadify/Huploadify.css">
</head>
<body>
    velocity
        #if(!$user)
        user is null
        #else
        username:$user.userName
        #end
    <p>-----------------form 上传----------------------</p>
    <form action="/upload" enctype="multipart/form-data" method="post">
        <input type="file" name="file">
        <input type="submit" value="submit">
    </form>
    <p>------------------uploadify flash demo------------------</p>
    <div id="queue"></div>
    <input id="file-upload" name="file-upload" type="file" multiple="true">
    <button id="beginUpload">beginUpload</button>
    <button id="cancel">cancel</button>
    <p>------------------Huploadify h5 demo--------------------</p>
    <div id="upload" type="file_upload"></div>
    <p>------------------ajaxFileUpload demo----------------------</p>
    <input type="file" id="ajaxFileUpload" name="file" multiple="true">
    <button id="ajaxUploadBegin">开始上传</button>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/asset/js/lib/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="/asset/js/lib/uploadify/huploadify/jquery.Huploadify.js"></script>
    <script type="text/javascript" src="/asset/js/lib/uploadify/ajaxFileUpload.js"></script>
    <script type="text/javascript" src="/asset/js/myFileUpload.js"></script>
</body>